.frame {
    opacity: 0
}
.theory {
    position: absolute;
    width: 600px;
    height: 414px;
    top: 0px;
    left: 315px;
    padding-left: 8px;
    color: #312b02;
    background-color: #adb39b
}
.rhizome {
    width:290px;
    height:400px;
    border-style: ridge;
    background-color: #3f829f
}
#svgpanel {
    background-color: white
}
#quiz {
    width:250px;
    height:200px;
}
.buttonface {
    width: 250px;
    height: 25px;
}
ol.buttonlist {
    list-style: none;
    margin: 0;
    padding: 0;
}
.question {
    padding: 5px;
    max-width: 250px;
}
.label {
    font-weight: bold;
    color: #b8d3da
}
/* http://jsfiddle.net/maasaamiichii/8Fp8Y/4/light/ */

/* http://www.codeproject.com/Tips/863825/Angular-Calling-Directive-Method-from-Controller
http://plnkr.co/edit/JPh3wZ?p=preview */
