<div id="main" ng-app="rhizApp" ng-controller="mainCtrl">
    <div id="my-timeline" timeline-js="" ng-controller="t4cCtrl"></div>
<!--    <div id="q4c-content" ng-controller="q4cCtrl" ng-show="sq">
        <svg version="1.1" id="rhizSvg" rhz-svg="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="370" height="370" viewBox="0 0 100 100"></svg>
        <div id="quiz" align="center">
            <div ng-bind="q4c.name.text" class="label"></div>
            <ol id="questions" class="buttonlist" rhz-question-group=""></ol>
            <button class="buttonhalf" ng-click="restartQuestionnaire()">Restart Q4C</button>
            <button class="buttonhalf" ng-click="showPayload()">Show FHIR</button>
        </div>
    </div>
    <div id="txt-content" ng-show="!sq"></div>
    <div id="t4c-content"></div> -->
</div>
<script src="//cdn.jsdelivr.net/snap.svg/0.3.0/snap.svg-min.js"></script>
<script src="http://visjs.org/dist/vis.js"></script>
<script src="http://visjs.org/dist/vis.css"></script>
<script src="//phollott.github.io/rhizome/lib/rhizome.js"></script>
