#demonstrator {
    width: 305px;
    height: 520px;
    -moz-border-radius: 15px;
    border-radius: 20px;
    background-color: coral;
}
#inside {
    position: absolute;
    width: 280px;
    height: 410px;
    top: 50px;
    left: 20px;
    background-color: darkgray
}
#rhizSvg {
    background-color: white
}
#quiz {
    width:252px;
    height:200px;
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 10pt
}
.frame {
    opacity: 0
}
.buttonface {
    width: 250px;
    height: 25px;
}
.buttonhalf {
    width: 123px;
    height: 25px;
    font-size: 8pt
}
ol.buttonlist {
    list-style: none;
    margin: 0;
    padding: 0;
}
.question {
    padding: 5px;
    max-width: 250px;
}
.label {
    font-family: Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold
}
#theory-details {
    position: absolute;
    top: 50px;
    left: 350px;
    width: 400px;
    /*    background-color:gray */
}