<div id="demonstrator">
    <div id="inside" ng-app="myApp" ng-controller="myCtrl" align="center">
        <div ng-bind="q4c.name.text" class="label"></div>
        <svg version="1.1" id="rhizSvg" rhz-svg="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="250" height="250" viewBox="0 0 100 100"></svg>
        <div id="quiz">
            <ol id="questions" class="buttonlist" rhz-question-group=""></ol>
            <button class="buttonhalf" ng-click="restartQuestionnaire()">Restart Q4C</button>
            <button class="buttonhalf" ng-click="showPayload()">Show FHIR</button>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/snap.svg/0.3.0/snap.svg-min.js"></script>
<script src="//phollott.github.io/rhizome/lib/rhizome.js"></script>